<p id="notice"><%= notice %></p>

<h1>Marks</h1>

<%= render 'form', beermark: @beermark %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Malts</th>
      <th>Alcohol</th>
      <th>Category</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beermarks.each do |beermark| %>
      <%= render 'beermark', beermark: beermark %>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Beermark', new_beermark_path %>

<div id="beermark_content"></div> 
